[submodule "deps/uv"]
	path = examples/deps/uv
	url = git://github.com/joyent/libuv.git
[submodule "deps/http-parser"]
	path = examples/deps/http-parser
	url = git://github.com/joyent/http-parser.git
